    body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    margin: 70px 0;

    color: black;
    background: white;
}

.chatbar
{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    padding: 5px;

    border-top: 1px solid black;
    background: tomato;
}

.chatbar-message,
.chatbar-username
{
    line-height: 40px;

    display: block;

    height: 40px;
    margin: 5px;
    padding: 0 9px;

    border: 1px solid black;
}

.chatbar-message
{
    flex: 8;
}

.chatbar-username
{
    flex: 2;
}

.message
{
    display: flex;

    padding: 5px;
}

.message.system
{
    font-style: italic;

    padding: 5px 20px;
}

.message-content,
.message-username
{
    overflow: hidden;

    margin: 5px;
    padding: 0 10px;
}

.message-content
{
    flex: 8;
}

.message-username
{
    font-weight: 700;

    flex: 2;
}

.navbar
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 60px;
    padding: 0 10px;

    border-bottom: 1px solid black;
    background: tomato;
}

.navbar-brand
{
    font-size: 28px;
    font-weight: 700;
    line-height: 60px;

    display: block;
    float: left;

    height: 60px;
    padding: 0 10px;

    text-decoration: none;

    color: inherit;
}

.userCount
{
    color: black;
    float: right;
    margin-top: 20px;
    margin-right: 17px;
}

.red
{
    color: #AA000F;
}

.blue {
    color: skyblue;
}

.green {
    color: #0AA00F;
}

.pink {
    color: #FF57FF;
}

.chatimage {
  object-fit: cover;
  width: 30vw;
  height: 30vw;
  margin-right: 35%;
}